<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.CosyDVR"
    android:versionCode="8"
    android:versionName="1.3.1">
  <uses-sdk android:minSdkVersion="16" android:targetSdkVersion="17" />
  <uses-permission android:name="android.permission.CAMERA" />
  <uses-permission android:name="android.permission.RECORD_AUDIO" />
  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
  <uses-permission android:name="android.permission.WAKE_LOCK" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.BATTERY_STATS"/>
  <application android:icon="@drawable/cosydvricon" android:label="@string/app_name" android:allowBackup="false">
      <activity android:name="com.example.CosyDVR.CosyDVR"
                android:label="@string/app_name"
                android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
                android:screenOrientation="landscape"
                android:launchMode= "singleInstance">
          <intent-filter>
              <action android:name="android.intent.action.MAIN" />
              <category android:name="android.intent.category.LAUNCHER" />
          </intent-filter>
      </activity>
      <activity android:name="com.example.CosyDVR.CosyDVRPreferenceActivity" />
      <service  android:name="com.example.CosyDVR.BackgroundVideoRecorder" />
  </application>
</manifest>
